body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 40%;
    margin: auto;
    border-radius: 10px;
}
